<body>
    <h2>Flights</h2>
    <table>
        <thead>
        <tr>
            <th>Airline</th>
            <th>Flight Number</th>
            <th>Departure</th>
        </tr>
        </thead>
        
            
        
    </table>

</body>