<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flights</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body> 
        <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
                <a class="navbar-brand" href="/flights">Mongoose Flights</a>
               
           </nav>
        
        <h2>Enter Your Flight</h2>
        <form class='newFlight'action="/flights" method="POST">
            <label>Airline:</label>
                <select name="airline">
                    <option value="American">American</option>
                    <option value="Southwest">Southwest</option>
                    <option value="United">United</option>
                </select>
            <br>
            <label>Flight Number:</label>
                <input class='lbl'type="text" name="flightNo" placeholder="Enter 4 digit Number">
            <br>
            <label>Departure:</label>
                    <input class="btn btn-info" type="datetime-local" name="departs">
            <br>
            <label>Airport:</label>
                    <select  name="airport">
                        <option value="AUS">AUS</option>
                        <option value="DAL">DAL</option>
                        <option value="LAX">LAX</option>
                        <option value="SEA">SEA</option>
                    </select>
                <br>
            <input class="btn btn-success" type="submit" value="Add Flight">
        </form>
</body>
</html>