<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flights</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body> 
        <a href="/flights">ALL FLIGHTS</a>
        
        <h2>Enter Your Flight</h2>
        <form action="/flights" method="POST">
            <label>Airline:</label>
                <select name="airline">
                    <option value="American">American</option>
                    <option value="Southwest">Southwest</option>
                    <option value="United">United</option>
                </select>
            <br>
            <label>Flight Number:</label>
                <input type="text" name="flightNo" placeholder="Enter 4 digit Number">
            <br>
            <label>Departure:</label>
                    <input type="datetime-local" name="departs">
            <br>
            <label>Airport:</label>
                    <select name="airport">
                        <option value="AUS">AUS</option>
                        <option value="DAL">DAL</option>
                        <option value="LAX">LAX</option>
                        <option value="SEA">SEA</option>
                    </select>
                <br>
            <input type="submit" value="Add Flight">
        </form>
        




        </form>
</body>
</html>